<!-- View skills -->
{{message}}
<h3>Skills </h3>
<div ng-hide="showSkillsForm">
    <button type="button" class="btn btn-default pull-right" ng-click="editSkills()">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
    <ul>
        <li ng-repeat="skill in skills">
            {{skill.skill}}
        </li>
    </ul>
</div>
<!-- View skills -->

<!-- Edit Skills -->
<div ng-show="showSkillsForm">
    <button type="button" class="btn btn-success pull-right" ng-click="saveSkills()">Save</button>
    <div ng-repeat="skill in skills">
        <form ng-submit="saveSkills()">
            <div class="form-group">
                <button type="button" class="btn" ng-click="deleteSkills(skill)">Delete</button>
                <input type="text" class="form-control" placeholder="" ng-model="skill.skill">
            </div>
        </form>
    </div>
    <button type="button" class="btn btn-primary pull-right" ng-click="addSkills()">Add</button>
</div>
<!-- Edit Skills -->