<!-- Affiliations View -->
<h3>Affiliation</h3>
<div ng-hide="affiliationShow">
    <button type="button" class="btn btn-default pull-right" ng-click="editAffiliations()">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
    <ul>
        <li ng-repeat="affi in affiliations">
            {{affi.item}}
        </li>
    </ul>
</div>
<!-- Affiliations View -->

<!-- Affiliations Edit -->
<div ng-show="affiliationShow">
    <button type="button" class="btn btn-success pull-right" ng-click="saveAffiliations()">Save</button>
    <button type="button" class="btn btn-primary pull-right" ng-click="addAffiliations()">Add</button>
    <form ng-submit="saveAffiliations()" ng-repeat="topic in affiliations">
        <div class="form-group">
            <button type="button" ng-click="removeAffiliation(topic)">Delete</button>
            <input type="text" class="form-control" placeholder="" ng-model="topic.item">
        </div>
    </form>
</div>
<!-- Affiliations Edit -->