<!-- Education View -->
<h3>Education</h3>
<div ng-hide="educationShow">
    <button type="button" class="btn btn-default pull-right" ng-click="editEducation()">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
    <div ng-repeat="school in education">
        <h3>
            <strong>{{school.title}}</strong>
        </h3>
        <h4 class="pull-right">Start: {{school.startYear}} End: {{school.endYear}}</h4>
        <h3>{{school.location1}}</h3>
        <h3>{{school.organization}}</h3>
        <ul>
            <li ng-repeat="description in educationDescriptions | filter: {$:school.$id}">{{description.item}}</li>
        </ul>
    </div>
</div>
<!-- Education View -->

<!-- Education Edit -->
<div ng-show="educationShow">
    <button type="button" class="btn btn-primary pull-right" ng-click="addEducation()">Add Education</button>
    <button type="button" class="btn btn-success pull-right" ng-click="saveEducation()">Save</button>
    <form ng-submit="saveEducation()" ng-repeat="school in education">
        <h3>Education:{{$index + 1}}</h3>
        <button type="button" ng-click="removeEducation(school)">Delete</button>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="" ng-model="school.title">
        </div>
        <div class="form-group">
            <label>Start</label>
            <input type="text" class="form-control" placeholder="" ng-model="school.startYear">
        </div>
        <div class="form-group">
            <label>End</label>
            <input type="text" class="form-control" placeholder="" ng-model="school.endYear">
        </div>
        <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control" placeholder="" ng-model="school.location1">
        </div>
        <div class="form-group">
            <label>Organization</label>
            <input type="text" class="form-control" placeholder="" ng-model="school.organization">
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="addEducationDescription(school)">Add Description</button>
        <div class="form-group" ng-repeat="description in educationDescriptions | filter: {$:school.$id}">
            <label for="description">Description: {{$index +1}}</label>
            <button type="button" ng-click="removeEducationDescription(description)">delete</button>
            <input type="text" class="form-control" placeholder="" ng-model="description.item">
        </div>
    </form>
</div>
<!-- Education Edit -->