<div class="row">
  <div class="experience">
    <h1>Experience</h1>
    <button type="button" class="btn btn-primary pull-right" ng-click="addExperience()">Add Experience</button>
    <button type="button" class="btn btn-success pull-left" ng-click="saveExperience()">Save</button>
    <div ng-repeat="exp in experience">
      <h3>Exp: {{$index +1}}</h3>
      <button type="button" ng-click="removeExperience(exp)">Delete</button>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="" ng-model="exp.title">
      </div>
      <div class="form-group">
        <label for="startYear">Organization</label>
        <input type="text" class="form-control" placeholder="" ng-model="exp.organization">
      </div>
      <div class="form-group">
        <label for="endYear">Start Year</label>
        <input type="text" class="form-control" placeholder="" ng-model="exp.startYear">
      </div>
      <div class="form-group">
        <label for="end year">End Year</label>
        <input type="text" class="form-control" placeholder="" ng-model="exp.endYear">
      </div>
      <button type="button" class="btn btn-success pull-left" ng-click="saveDescriptions(item)">Save</button>
      <button type="button" class="btn btn-primary pull-right" ng-click="addDescription(exp)">Add Description</button>
      <div class="form-group" ng-repeat="description in expDescriptions | filter: {$:exp.$id}">
        <button type="button" class="btn btn-primary pull-right" ng-click="removeDescription(description)">delete</button>
        <label for="description">Description: {{$index +1}}</label>
        <input type="text" class="form-control" placeholder="" ng-model="description.item">
      </div>
    </div>
  </div>
</div>
<message-directive></message-directive>